body {
  margin: 0px;
}
hr {
  max-width: 1920px;
  width: 100%;
  height: 1px;
  background-color: white;
  border: 0px;
  position: absolute;
  top: 49px;
}

.header {
  max-width: 1920px;
  width: 100%;
  height: 130px;
  background: #1e2022;
  font-family: Roboto;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 565px;
  height: 19px;
  left: 677px;
  top: 15px;
}
.nav__link {
  padding-left: 30px;
  color: #8e8e93;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}
.teh_phone {
  display: flex;
  position: absolute;
  width: 133px;
  height: 19px;
  left: 1388px;
  top: 15px;
  align-items: left;
  color: #8e8e93;
  text-decoration: none;
  font-size: 16px;
}
.geolocation {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 415px;
  top: 15px;
}

.city {
  color: #8e8e93;
  text-decoration: none;
  font-size: 16px;
}
.strelochka__geo {
  position: absolute;
  top: 4px;
  left: -15px;
  width: 10.18px;
  height: 13px;
}

.logo {
  position: absolute;
  left: 200px;
  top: 37px;
}
/*catalog*/
.catalog {
  box-sizing: border-box;

  position: absolute;
  left: 580px;
  top: 68px;
  opacity: 0.3;
  border: 1px solid #8e8e93;
  border-radius: 6px;
  width: 126px;
  height: 50px;
}
.text_catalog {
  color: #8e8e93;
  text-decoration: none;
  font-size: 18px;
  position: absolute;
  top: 13px;
  left: 35px;
}
.img_catalog {
  height: 15px;
  margin: 2px;
  position: absolute;
  top: 15px;
  left: 15px;
}

/*search*/

.search_input {
  position: absolute;
  top: 68px;
  left: 736px;
}

.search input {
  max-width: 440px;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #8e8e93;
  border-radius: 10px;
  outline: none;
  background-color: #1e2022;
  color: #8e8e93;
}
.search button {
  position: absolute;
  top: 80px;
  left: 1141px;

  width: 20px;
  height: 20px;
  border: none;
  background: #1e2022;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search img {
  width: 20px;
  height: 20px;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 316px;
  height: 32px;
  left: 1206px;
  top: 77px;
}
.sravnen {
  width: 18px;
  position: absolute;
  left: 9px;
  top: 7px;
}
.text_sravn {
  color: #8e8e93;
  position: absolute;
  width: 64px;
  height: 16px;
  right: 220px;
  top: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.korzina {
  position: absolute;
  left: 133px;
  width: 17.52px;
  height: 15.76px;

  top: calc(50% - 15.76px / 2 + 0.42px);
}
.text_korzina {
  position: absolute;
  width: 56px;
  height: 16px;
  right: 102px;
  top: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #8e8e93;
  text-decoration: none;
}
.vhod {
  position: absolute;
  left: 242px;
  width: 18px;
}
.text_vhod {
  position: absolute;
  width: 40px;
  height: 18px;
  left: 265px;
  top: calc(50% - 18px / 2);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #8e8e93;
  text-decoration: none;
}

/*content*/

.way {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1140px;
  width: 100%;

  font-family: Roboto;
}
.way span{
  font-size: 16px;
  color: #8e8e93;
  
}
.way_glav,
.way_catalog,
.way_smartphone {
  font-size: 16px;
  color: #8e8e93;
  text-decoration: none;
}
.way_glav:hover,
.way_catalog:hover,
.way_smartphone:hover{
  text-decoration: underline;
}

.tovar {
  max-width: 1140px;
  width: 100%;

  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
.tovar_name {
  display: flex;

  justify-content: start;

  text-decoration: none;
  font-family: Roboto;
  margin-bottom: 40px;
}
.tovar_name_concret {
  font-size: 24px;
  color: black;
}

.main_photo {
  position: absolute;
  left: 0px;
  top: 100px;
}
.image img {
  border-radius: 10px;
}

#prev {
  position: absolute;
  top: 45%;
  left: 21%;

  cursor: pointer;
  padding: 16px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background: url(/images/btn_left.png) no-repeat;
}
#prev:hover {
  margin-top: -10px;
  margin-left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: url(/images/left_btn_img.png);
}

#next {
  position: absolute;
  top: 45%;
  right: 55.5%;
  cursor: pointer;
  padding: 16px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  background: url(/images/btn_right.png) no-repeat;
}
#next:hover {
  position: absolute;
  top: 44%;
  right: 57.3%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-image: url(/images/right_btn_img.png);
}
.dots {
  margin: 0;
  margin-left: 25%;
  margin-top: 30%;
}

.dot {
  color: #ff3e3e;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--graylight-color);
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--graylight-color);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  width: 430px;
  height: 315px;
  left: calc(50% - 430px / 2);
  top: calc(50% - 315px / 2 - 14px);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn_left {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 143px;
  border-radius: 50%;
  border: 0px solid black;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_right {
  width: 30px;
  height: 30px;
  left: 400px;
  border-radius: 50%;
  border: 0px solid black;
  position: absolute;
  top: 143px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn_right img {
  width: 5px;
  height: 10px;
  left: 356px;
  top: 143px;
}
.btn_left img {
  width: 5px;
  height: 10px;
  top: 143px;
}

.photo_num {
  position: absolute;
  top: 620px;
  left: 570px;
}

.config_phone {
  max-width: 350px;
  width: 100%;
  max-height: 370px;
  height: 100%;
  position: absolute;
  top: 300px;
  left: 810px;
}

.otziv_chisl {
  font-size: 14px;
  font-family: Roboto;
  text-decoration: none;
  color: #f05757;
}
.otziv_slov {
  font-size: 14px;
  font-family: Roboto;
  text-decoration: none;
  color: #8e8e93;
}
.otziv_slov:hover {
  color: #ff3e3e;
}
.heart {
  margin-left: 35px;
  padding-left: 25px;
  background: url(/images/heart.png) no-repeat;
}
.heart:hover{
  width: 15px;
  background: url(/images/heart_active.png) no-repeat;
}
.sravnen_content {
  padding-left: 20px;
  margin-left: 23px;
  background: url(/images/sravnen.png) no-repeat;
}
.sravnen_content:hover{
  background: url(/images/sravnen_active.png) no-repeat;
}
.phone_color {
  position: absolute;
  margin-top: -630px;
  margin-left: 480px;
  margin-right: 20px;
}
.phone_color_text {
  font-family: Roboto;
  text-decoration: none;
  font-size: 12px;
  color: #404040;
}
.phone_color_text_darknight {
  font-family: Roboto;
  text-decoration: none;
  font-size: 12px;
  color: #8e8e93;
  margin-right: 70px;
}
.phone_color_klav {
  margin-top: 10px;
}
.phone_color_klav input[type="radio"] {
  display: none;
}

.phone_color_klav label {
  display: inline-block;
  height: 27px;
  width: 27px;
  border: 2px solid white;
  border-radius: 6px;
  box-sizing: border-box;
  outline: solid 1px #8e8e93;
  margin-left: 10px;
}

.phone_color_klav input[type="radio"]:checked + label {
  height: 26px;
  width: 26px;
  border: 2px solid white;
  border-radius: 6px;
  box-sizing: border-box;
  outline: 2px solid #1e2022;
}

.color_one {
  background-color: #1e2022;
}

.color_two {
  background-color: #ffedd5;
}
.color_three {
  background-color: #3191d0;
}
.color_four {
  background-color: #f05757;
}

.color_five {
  background-color: #ff3e3e;
}

.phone_memory {
  position: absolute;
  margin-top: -580px;
  margin-left: 480px;
}
.phone_memory_text {
  text-align: start;
  padding-left: 10px;
  font-family: Roboto;
  font-size: 12px;
  color: #404040;
}

.phone_memory_klav {
  display: flex;
  justify-content: start;
}

.phone_memory_klav input[type="radio"] {
  display: none;
}

.phone_memory_klav label {
  display: inline-block;
  font-family: Roboto;
  padding-top: 6px;
  font-size: 12px;
  height: 29px;
  width: 61px;
  border: 2px solid white;
  border-radius: 6px;
  box-sizing: border-box;
  outline: solid 1px #8e8e93;
  margin-left: 10px;
}

.color_one:hover,
.color_two:hover,
.color_three:hover,
.color_four:hover,
.color_five:hover{
  outline: 2px solid #1e2022;
}

.phone_memory_klav input[type="radio"]:checked + label {
  height: 29px;
  width: 61px;
  border: 2px solid white;
  border-radius: 6px;
  box-sizing: border-box;
  outline: 2px solid #1e2022;
}
.memory_one:hover,
.memory_two:hover,
.memory_three:hover{
  outline: 2px solid #1e2022;
}

.opisanie {
  margin-top: 40px;
}
.harakteristiki p {
  font-family: Roboto;
  font-size: 12px;
  display: flex;
  justify-content: start;
  padding-left: 10px;
  margin-top: 6px;
  color: #8e8e93;
}
.harakteristiki a {
  font-family: Roboto;
  font-size: 12px;
  color: #404040;
}
.vse_harakter a {
  font-family: Roboto;
  font-size: 14px;
  color: #3191d0;
  display: flex;
  justify-content: start;
  margin-left: 10px;
  text-decoration: none;
}

.vse_harakter a:hover {
  text-decoration: underline;
  font-weight: 500;
}

.buy {
  max-width: 264px;
  width: 100%;
  max-height: 460px;
  height: 100%;
  position: absolute;
  top: 297px;
  left: 1256px;
}
.cena_tovara {
  border: 1px solid #e8e8e9;
  border-radius: 6px;
  padding: 20px;
}
.old_cena {
  text-align: start;
  font-family: Roboto;
  font-size: 14px;
  color: #8e8e93;
  text-decoration: line-through;
  font-weight: 700;
  margin: 0px;
}
.new_cena {
  text-align: start;
  font-family: Roboto;
  font-size: 24px;
  color: #1e2022;
  font-weight: 700;
  margin-top: 6px;
}
.rassrochka {
  text-align: start;
  font-family: Roboto;
  font-size: 12px;
  margin-top: -20px;
}
.btn_korzina {
  display: flex;
  justify-content: left;
  width: 224px;
  height: 40px;
  background-color: #f05757;
  border-radius: 6px;
  border: 0px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 45px;
}
.btn_korzina:hover {
  background-color: #ff3e3e;
  transition: 0.3s;
}
.bonus_tovara {
  margin-top: 10px;
  max-width: 264px;
  width: 100%;
  max-height: 129px;
  height: 100%;
  border: 1px solid #e8e8e9;
  border-radius: 6px;

  text-align: left;
}
.znak_voprosa_cena {
  padding-left: 15px;
}
.znak_voprosa_rassrochka {
  margin-left: 10px;
}
.znak_voprosa_rassrochka:hover {
  border-radius: 50%;
  background-color: #f05757;
}

.bonus_tovara img {
  margin-right: 6px;
}
.znak_voprosa_bonus_one {
  margin-left: 10px;
}
.znak_voprosa_bonus_two {
  margin-left: 40px;
}
.znak_voprosa_bonus_three {
  margin-left: 22px;
}
.znak_voprosa_bonus_one:hover,
.znak_voprosa_bonus_two:hover,
.znak_voprosa_bonus_three:hover {
  border-radius: 50%;
  background-color: #f05757;
}
.bonus_tovara span {
  color: #f05757;
  font-weight: 500;
  font-size: 12px;
}
.bonus_tovara p {
  font-size: 12px;
  font-family: Roboto;
  color: #404040;
  margin: 10px 20px 20px 20px;
  font-weight: 500;
}
.poluch_zakaz {
  margin-top: 10px;
  max-width: 264px;
  width: 100%;
  max-height: 129px;
  height: 100%;
  border: 1px solid #e8e8e9;
  border-radius: 6px;
  text-align: left;
}
.poluch_zakaz p {
  margin: 20px;
  font-size: 12px;
  font-family: Roboto;
  color: #404040;
  font-weight: 500;
}
.poluch_zakaz a {
  text-decoration: none;
  color: #f05757;
  font-weight: 500;
  font-size: 12px;
}

.tabs {
  position: absolute;
  top: 770px;
}

.phone_memory_klav input[type="radio"] {
  display: none;
}

.tabs input[type="radio"] {
  display: none;
}
.tabs label {
  display: inline-block;
  font-family: Roboto;
  padding-top: 6px;
  font-size: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: 0px;
}

.two_tabs_label,
.three_tabs_label,
.four_tabs_label,
.five_tabs_label,
.six_tabs_label,
.seven_tabs_label {
  margin-left: 40px;
}
.tabs label:hover {
  border: 0px;
  display: inline;
  color: #f05757;
  border-bottom: 1px solid #f05757;
  transition: 0.4s;
}

.tabs input[type="radio"]:checked + label {
  border: 0px;
  display: inline;
  text-align: left;
  color: #f05757;
  border-bottom: 1px solid #f05757;
  transition: 0.4s;
}

.o_tovare {
  margin-top: -170px;
  max-width: 740px;
  width: 100%;
  text-align: start;
  font-family: Roboto;
}
.o_tovare h2 {
  font-size: 24px;
  font-weight: 700;
  color: #1e2022;
}
.o_tovare p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}
.o_tovare span {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

#more {
  display: none;
}
#readmore_btn {
  background: none;
  border: 0px;
  color: #3191d0;
  font-size: 14px;
  font-weight: 500;
  margin-left: -5px;
}
#readmore_btn:hover {
  text-decoration: underline;
}

.otzivi_bottom {
  margin-top: 40px;
  max-width: 950px;
  width: 100%;
  font-family: "Roboto";
  text-align: left;
}
.zagl_otzivi_bottom {
  font-weight: 700;
  font-size: 24px;
}
.otziv_name {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #1e2022;
}
.otziv_date {
  padding-left: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #8e8e93;
}
.otzivi_bottom_cifr {
  font-size: 24px;
  font-weight: 700;
  color: #f05757;
}
.otzivi_bottom_dostoinstva p {
  font-weight: 500;
  font-size: 16px;
  color: #1e2022;
}
.otzivi_bottom_dostoinstva span {
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}
.otzivi_bottom_nedostatki p {
  font-weight: 500;
  font-size: 16px;
  color: #1e2022;
}
.otzivi_bottom_nedostatki span {
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}

.otzivi_bottom_dopolnitelno p {
  font-weight: 500;
  font-size: 16px;
  color: #1e2022;
}
.otzivi_bottom_dopolnitelno span {
  font-weight: 400;
  font-size: 14px;
  color: #404040;
  padding-bottom: 20px;
}
.otzivi_na_otzivi {
  display: inline;
  margin-top: 10px;
}
.otzivi_na_otzivi button {
  background: none;
  border: 0px;
}
.otzivi_na_otzivi span {
  margin-top: 20px;
}

.like_active_text {
  margin-left: -10px;
  font-weight: 700;
  font-size: 14px;
  color: #f05757;
  padding-bottom: 5px;
}
#like_comment {
  width: 20px;
  height: 20px;
  background: url(/images/like_active.png) no-repeat;
}
#like_comment:hover {
  background: url(/images/like_active_active.png) no-repeat;
}
#dislike_comment {
  width: 20px;
  height: 20px;
  background: url(/images/dislike.png) no-repeat;
}
#dislike_comment:hover {
  background: url(/images/dislike_active.png) no-repeat;
}
.dislike_btn {
  margin-left: 40px;
}
.margin_top {
  margin-top: 20px;
}
.dislike_text {
  margin-left: -10px;
  font-weight: 700;
  font-size: 14px;
  color: #8e8e93;
}
.otzivi_na_otzivi button {
  color: #3191d0;
  font-weight: 500;
  font-size: 14px;
  padding-left: 25px;
}
.otzivi_na_otzivi button:hover {
  text-decoration: underline;
}

.nedavno_smotreli {
  font-family: Roboto;
  margin-left: 50px;
}
.zagl_nedavno_smotreli {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  color: #1e2022;
  margin-left: 335px;
}
.nedavno_smotreli_tovari {
  display: flex;
  justify-content: center;
}
.nedavno_smorteli_one,
.nedavno_smorteli_two,
.nedavno_smorteli_three,
.nedavno_smorteli_four {
  text-align: left;
  max-width: 265px;
  width: 100%;
}
.nedavno_smorteli_two,
.nedavno_smorteli_three,
.nedavno_smorteli_four {
  margin-left: 20px;
}
.nazv_tovar_nedavno_smotreli {
  font-weight: 400;
  font-size: 14px;
  color: #1e2022;
}
.under_star_otziv {
  font-weight: 500;
  font-size: 14px;
  color: #f05757;
}
.under_otziv_text {
  font-weight: 500;
  font-size: 14px;
  color: #8e8e93;
}
.old_cena_under {
  font-weight: 500;
  font-size: 14px;
  color: #8e8e93;
  text-decoration: line-through;
}
.new_cena_under {
  font-weight: 600;
  font-size: 24px;
  color: #1e2022;
  margin-top: -20px;
}
.cena_under {
  font-weight: 600;
  font-size: 24px;
  color: #1e2022;
  margin-top: 25px;
}
.btn_under {
  margin-top: -30px;
}
.send_korzina {
  width: 80px;
  height: 40px;
  background-color: #f05757;
  border: none;
  border-radius: 6px;
}
.send_korzina:hover {
  background-color: #ff3e3e;
  transition: 0.3s;
}
.like_under {
  
  margin-left: 15px;
  height: 20px;
  width: 25px;
  background: url(/images/heart.png) no-repeat;
  border: none;
  
}
.like_under:hover{
  
  background: url(/images/heart_active.png) no-repeat;
}
.sravn_under {
  height: 20px;
  width: 25px;
  background: url(/images/sravnen.png) no-repeat;
  border: none;
}
.sravn_under:hover{
  background: url(/images/sravnen_active.png) no-repeat;
}

.btn_img_under_right {
  margin-top: 150px;
  margin-left: 50px;
  width: 30px;
  height: 30px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: #1e2022;
  max-width: 1920px;
  width: 100%;
  height: 600px;

  font-family: Roboto;
  margin: 0px;
  margin-top: 60px;
}
.footer_container {
  max-width: 1120px;
  margin: 0 auto;
  max-height: 490px;
  height: 100%;
  display: flex;
  margin-top: 30px;
  border-bottom: 1px solid #404040;
}

footer p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
footer a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #8e8e93;
  text-decoration: none;
}
footer li {
  list-style-type: none;
  margin-top: 20px;
}
footer ul {
  padding-left: 0px;
}
.footer_o_kompanii {
  margin-top: 30px;
}
.footer_o_kompanii,
.footer_for_buyers {
  margin-right: 60px;
}
.footer_no_name {
  margin-right: 110px;
  margin-top: 152px;
}
.footer_for_buyers,
.footer_social_seti {
  margin-top: 95px;
}
.zagl_footer_one {
  margin-top: 50px;
}

.socseti {
  position: absolute;
  top: 2350px;
  left: 1190px;
}
.socseti a img {
  margin: 10px;
}
.socseti img {
  margin: 20px;
}
.bottom_footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: 30px auto;
}
.ghz {
  display: block;
}
.polir_konf a {
  margin: 0px 30px 0px 0px;
}
.zagl_footer_one img {
  display: none;
}
.footer_for_buyers img {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    max-width: 1005px;
    width: 100%;
  }
  .geolocation {
    left: 20px;
  }
  .menu {
    left: 182px;
  }
  .teh_phone {
    left: 837px;
  }
  .logo {
    left: 20px;
  }
  .catalog {
    left: 199px;
  }

  .search input {
    max-width: 279px;
    width: 100%;
    left: 355px;
  }
  .search button {
    left: 599px;
  }
  .frame {
    left: 670px;
  }
  .way {
    margin-left: 20px;
  }
  .content {
    margin-left: 20px;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 640px;
    height: 315px;
    left: calc(50% - 430px / 2);
    top: calc(50% - 315px / 2 - 14px);
  }
  #prev {
    position: absolute;
    top: 530px;
    left: 30px;

    cursor: pointer;
    padding: 16px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background: url(/images/btn_left.png) no-repeat;
  }
  #prev:hover {
    margin-top: -9px;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: url(/images/left_btn_img.png);
  }

  #next {
    position: absolute;
    top: 530px;
    right: 330px;
    cursor: pointer;
    padding: 16px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background: url(/images/btn_right.png) no-repeat;
  }
  #next:hover {
    position: absolute;
    top: 521px;
    right: 365px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: url(/images/right_btn_img.png);
  }

  .heart {
    padding-left: 70px;
  }
  .buy {
    max-width: 264px;
    width: 100%;
    max-height: 460px;
    height: 100%;
    position: absolute;
    top: 470px;
    left: 725px;
  }
  .opisanie {
    display: none;
  }
  .config_phone {
    max-width: 350px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    position: absolute;
    top: 300px;
    left: 680px;
  }

  .phone_color {
    position: absolute;
    margin-top: -600px;
    margin-left: 700px;
    margin-right: 20px;
  }
  .phone_memory {
    position: absolute;
    margin-top: -545px;
    margin-left: 700px;
  }

  .tabs {
    position: absolute;
    top: 950px;
  }
  .o_tovare {
    margin-top: 100px;
    max-width: 740px;
    width: 100%;
    text-align: start;
    font-family: Roboto;
  }
  .zagl_nedavno_smotreli {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    color: #1e2022;
    margin-left: 0px;
  }
  .btn_img_under_right {
    margin-top: 150px;
    margin-left: -20px;
    width: 30px;
    height: 30px;
  }
  .nedavno_smotreli {
    
    margin-left: 0px;
  }
  .logo_under {
    border: none;
  }
  .footer__blocks {
    display: none;
  }
  .footer_no_name {
    display: none;
  }
  .footer_container {
    display: block;
    margin-bottom: 60px;
    border-bottom: 60px;
  }
  .logo_under {
    padding-bottom: 30px;
    border-bottom: 1px solid #404040;
    max-width: 1000px;
    width: 107%;
  }
  .zagl_footer_one {
    max-width: 1000px;
    width: 107%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #404040;
  }
  .footer_for_buyers {
    margin-top: 0px;
    border-bottom: 1px solid #404040;
    max-width: 1000px;
    width: 100%;
  }
  .footer_social_seti {
    margin-top: 0px;

    padding-bottom: 30px;
    border-bottom: 1px solid #404040;
  }
  .footer_social_seti img {
    margin-right: 20px;
  }
  .bottom_footer_container {
    justify-content: space-between;
    margin-top: -70px;
  }

  .zagl_footer_one img {
    display: block;
    margin-left: 560px;
  }
  .footer_for_buyers img {
    display: block;
    margin-left: 560px;
  }
}

@media screen and (max-width: 500px) {
  header {
    max-width: 501px;
    width: 100%;
  }
  .menu {
    display: none;
  }
  .teh_phone {
    display: none;
  }
  .catalog {
    display: none;
  }
  hr {
    display: none;
  }
  .frame {
    display: none;
  }
  .geolocation {
    left: 420px;
    top: 25px;
  }
  .logo {
    left: 15px;
    top: 10px;
  }
  .search input {
    left: 30px;
    max-width: 450px;
    width: 100%;
  }
  .search button {
    left: 440px;
  }
  .way {
    display: none;
  }
  .content {
    max-width: 470px;
    width: 100%;
  }
  .tovar_name {
    left: 0px;
    text-align: left;
  }
  .fade {
    width: 450px;
    height: 350px;
  }
  #prev {
    top: 450px;
    left: 15px;
  }
  #next {
    top: 450px;
    left: 455px;
  }
  #next:hover {
    top: 440px;
    left: 440px;
    width: 10px;
    height: 10px;
  }
  .config_phone {
    text-align: left;
    max-width: 450px;
    width: 100%;
    left: 20px;
    top: 650px;
  }
  .heart {
    margin-left: 170px;
  }

  .phone_color {
    margin-left: 0px;
    margin-top: -120px;
  }
  .phone_memory {
    margin-left: 0px;
    margin-top: -70px;
  }
  .buy {
    left: 25px;
    top: 810px;
    max-width: 450px;
    width: 100%;
  }
  .btn_korzina {
    width: 410px;
    justify-content: center;
  }
  .bonus_tovara {
    display: none;
  }
  .poluch_zakaz {
    display: none;
  }
  .o_tovare {
    margin-top: 250px;
  }
  .tabs {
    margin-top: 40px;
    display: inline-flex;
    text-align: left;
    margin-left: -230px;
  }

  .one_tabs_label {
    width: 70px;
  }
  .nedavno_smotreli_tovari {
    display: inline-flex;
    justify-content: start;
  }
  .btn_img_under_right {
    margin-left: -400px;
  }
  footer {
    max-width: 520px;
    width: 100%;
    height: 700px;
  }
  .ghz {
    margin-left: 20px;
    max-width: 500px;
    width: 100%;
  }
  .bottom_footer_container {
    flex-direction: column;
    margin-top: -100px;
  }
  .polir_konf {
    display: flex;
    flex-direction: column;
  }
  .polir_konf a {
    margin-top: 20px;
  }
  .footer_for_buyers {
    width: 95%;
  }
  .footer_social_seti {
    width: 95%;
  }
  .zagl_footer_one img {
    display: block;
    margin-left: 450px;
  }
  .footer__buy img {
    display: block;
    margin-left: 450px;
  }
  .nedavno_smorteli_three {
    display: none;
  }
  .nedavno_smorteli_four {
    display: none;
  }
  .five_tabs_label {
    visibility: hidden;
  }
  .six_tabs_label {
    visibility: hidden;
  }
  .seven_tabs_label {
    visibility: hidden;
  }
  .zagl_footer_one img {
    display: block;
    margin-left: 350px;
  }
  .footer__buy img {
    display: block;
    margin-left: 350px;
  }
}

@media screen and (max-width: 414px) {
  header {
    max-width: 414px;
    width: 100%;
  }
  .search input {
    max-width: 350px;
    width: 100%;
  }
  .geolocation {
    left: 320px;
  }
  .search button {
    left: 340px;
  }
  .logo {
    left: 15px;
  }
  .content {
    max-width: 380px;
    width: 100%;
  }

  .fade {
    width: 350px;
    height: 250px;
  }
  #prev {
    top: 400px;
    left: 30px;
  }
  #next {
    top: 400px;
    left: 365px;
  }
  #next:hover {
    top: 390px;
    left: 350px;
    width: 10px;
    height: 10px;
  }
  .config_phone {
    top: 580px;
  }
  .heart {
    margin-left: 100px;
  }
  .phone_color {
    margin-top: -70px;
  }
  .phone_memory {
    margin-top: -20px;
  }
  .buy {
    top: 750px;
    max-width: 360px;
  }
  .btn_korzina {
    width: 320px;
  }
  .tabs {
    margin-top: 0;
    margin-left: -190px;
  }
  .four_tabs_label {
    visibility: hidden;
  }

  .o_tovare {
    margin-top: 330px;
  }
  .btn_img_under_right {
    margin-left: -200px;
  }
}

@media screen and (max-width: 375px) {
  header {
    max-width: 375px;
    width: 100%;
  }
  .logo {
    left: 10px;
  }
  .search input {
    left: 20px;
    max-width: 340px;
    width: 100%;
  }
  .search button {
    left: 320px;
  }
  .geolocation {
    left: 300px;
  }
  .content {
    max-width: 350px;
    width: 100%;
  }
  #next {
    left: 350px;
  }
  #next:hover {
    left: 333px;
  }
  .heart {
    margin-left: 80px;
  }
  .phone_color {
    margin-top: -55px;
  }
  .phone_memory {
    margin-top: -5px;
  }
  .buy {
    max-width: 330px;
  }
  .btn_korzina {
    width: 285px;
  }
  .tabs {
    margin-left: -175px;
  }
  .footer__buy img {
    margin-left: 320px;
  }
  .zagl_footer_one img {
    margin-left: 320px;
  }
}

@media screen and (max-width: 360px) {
  header {
    max-width: 360px;
    width: 100%;
  }
  .menu {
    display: none;
  }
  .teh_phone {
    display: none;
  }
  .catalog {
    display: none;
  }
  .frame {
    display: none;
  }
  .logo {
    top: 10px;
    left: 12px;
  }
  .geolocation {
    top: 30px;
    left: 280px;
  }
  hr {
    display: none;
  }
  .search input {
    left: 20px;
    max-width: 320px;
    width: 100%;
  }
  .search button {
    left: 300px;
  }
  .way {
    display: none;
  }
  .content {
    margin-left: 20px;
  }
  .tovar_name {
    text-align: left;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 317px;
    height: 223px;
    left: calc(50% - 430px / 2);
    top: calc(50% - 315px / 2 - 14px);
  }
  #prev {
    position: absolute;
    top: 400px;
    left: 20px;

    cursor: pointer;
    padding: 16px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background: url(/images/btn_left.png) no-repeat;
  }
  #prev:hover {
    margin-top: -9px;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: url(/images/left_btn_img.png);
  }

  #next {
    position: absolute;
    top: 400px;
    left: 322px;
    cursor: pointer;
    padding: 16px;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background: url(/images/btn_right.png) no-repeat;
  }
  #next:hover {
    position: absolute;
    top: 391px;
    left: 307px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: url(/images/right_btn_img.png);
  }
  .config_phone {
    left: 15px;
    top: 550px;
  }
  .heart {
    margin-left: 70px;
  }
  .phone_color {
    left: 15px;
    top: 630px;
  }
  .phone_memory {
    left: 15px;
    top: 640px;
  }
  .buy {
    left: 20px;
    top: 710px;
    max-width: 264px;
    width: 100%;
    max-height: 460px;
    height: 100%;
    position: absolute;
  }
  .btn_korzina {
    display: flex;
    justify-content: left;
    width: 224px;
  }
  .bonus_tovara {
    display: none;
  }
  .poluch_zakaz {
    display: none;
  }
  .tabs {
    top: 900px;
    left: 20px;
    display: inline-flex;
    text-align: start;
    margin-left: 0px;
  }

  .o_tovare {
    margin-top: 320px;
    max-width: 330px;
    width: 100%;
  }
  .otzivi_bottom {
    max-width: 330px;
    width: 100%;
  }
  #dislike_comment {
    margin-left: 20px;
  }
  .nedavno_smotreli_tovari {
    display: inline-flex;
    justify-content: start;
  }
  .nedavno_smotreli {
    display: grid;
  }
  .btn_img_under_right {
    margin-left: -120px;
  }
  footer {
    max-width: 360px;
    width: 100%;
    min-height: 700px;
  }
  .footer_container {
    max-width: 360px;
    width: 100%;
    margin-left: 20px;
  }
  .bottom_footer_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: -130px;
  }
  .polir_konf {
    display: flex;
    flex-direction: column;
  }
  .polir_konf a {
    margin-top: 20px;
  }
  .logo_under {
    width: 115%;
  }
  .zagl_footer_one {
    width: 115%;
  }
  .footer_for_buyers {
    width: 96%;
  }
  .footer_social_seti {
    width: 96%;
  }
  .zagl_footer_one img {
    display: block;
    margin-left: 300px;
  }
  .footer_for_buyers img {
    display: block;
    margin-left: 300px;
  }
  .water_marka {
    display: contents;
  }
}
